
body{

background-color:#DDC6AD;

} 
/* heading */

.page-header{
	color:#000;
	margin-bottom: 50px;
	position: sticky;
}

ul li{
	display:inline-block;
	text-decoration: underline;
	padding-top: 30px;
	padding-left: 30px;
	font-size: 20px;
}
#ads{
	padding-left:72px;
	font-size: 15px;
	font-family: sans-serif;
	font-style: italic;
}

.date h4{
	text-align: center;
	font-size: 35px;
	font-family: sans-serif;
	padding-bottom: 30px;

}

@media(max-width:1200px){
	.page-header {
		text-align:center;
		padding: 5px;
		font-size:15px;
	}

	ul li {
		text-align:center;
		font-size: 15px;
	padding-left:5px;
		
	}
	.date h4{
		font-size:20px;
		
			}
}





/* main */
.main h4{
	text-align: center;
	color:#000;
	font-weight: bold;
	font-size: 30px;
    background-color:#F28509;
    padding: 15px;
    text-transform:uppercase;
    position: -webkit-sticky;
  
}
 .main h4:hover{
	background-color:#000;
	color:#F28509; 
}

.main{
	padding:10px 40px 10px 40px;
	font-size: 25px;
	color: #140A00;
}
#price{
	color:#098227;
	font-style:italic;
}

@media(max-width:1200px){
	
	.main{
		text-align:left;
		font-size:15px;
		
		padding:10px;

	}
	.main h4{
		text-align:center;
		padding:10px;
		font-size:20px;
	}
	#price{
		float:right;
		font-size: 15px;
		font-weight: bolder;
		padding-right:10px;
	}
}

/*footer*/
.footer{
	font-size: 20px;
	margin-top: 50px;
	color: #000;
	border-top: 2px solid #fff;
padding: 20px;
font-style: italic;
}

@media(max-width:1200px){
	
	.footer{
		font-size:15px;
		float: center;
		padding: 10px
	}
	}